@page "/"

@section header {
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <img src="~/wom-logo.png" alt="WOM logo" class="img-fluid" />
        </div>
    </div>
</div>
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <h1 class="display-4">WOM Demo</h1>

            <p>
                WOM&nbsp;vouchers are intended to <b>reward socially-valuable efforts</b> of various nature.
                Different entities may provide WOM&nbsp;vouchers in exchange for your contributions.
                Check out <a href="https://wom.social">our website</a> for more information.
            </p>

            <p class="text-center">
                <a class="btn btn-primary" asp-page="/Redeem" role="button">Request demo voucher</a>
            </p>

            <p class="text-center">
                <a class="btn btn-primary" asp-page="/Pay" role="button">Perform a demo payment</a>
            </p>
        </div>
    </div>
</div>
