@page "/pay"
@model WomWebDemo.Pages.PayModel
@{
    ViewData["Title"] = "Demo payment";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <h1 class="display-5">Perform payment</h1>

            <p class="lead">
                Ready to perform your first WOM&nbsp;payment? Follow this demo and spend your sample WOM&nbsp;voucher.
            </p>

            <p>
                WOM&nbsp;vouchers can be spent with a variety of third-parties that want to reward socially-valuable efforts by citizens like you.
                Different third-parties may accept WOM&nbsp;vouchers in exchange for discounts, gifts, or other incentives.
            </p>

            <h2>Ready?</h2>

            <p>
                Have you installed the <b>WOM&nbsp;Pocket</b> app and have you <a asp-page="/Redeem">redeemed your first sample voucher</a>?
                Then you’re all set to perform your first WOM&nbsp;payment. Fill-in the form, click on the button below, and then scan the QR&nbsp;Code that will be shown.
            </p>

            <form method="post" class="text-center">
                <div class="row">
                    <div class="col">
                        <label for="demoDiscount">Discounted item</label>
                        <select name="demoDiscount" class="custom-select custom-select-lg mb-3">
                            <option value="coffee" selected>Espresso coffee</option>
                            <option value="book">Book</option>
                            <option value="bike">Renting a bike</option>
                            <option value="course">Language course</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="demoAmount">Discount amount</label>
                        <select name="demoAmount" class="custom-select custom-select-lg mb-3">
                            <option value="5" selected>5%</option>
                            <option value="10">10%</option>
                            <option value="20">20%</option>
                            <option value="30">30%!</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">
                    Get sample voucher
                </button>
            </form>
        </div>
    </div>
</div>