@page "/redeem"
@model WomWebDemo.Pages.RedeemModel
@{
    ViewData["Title"] = "Demo voucher redemption";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <h1 class="display-5">Redeem voucher</h1>

            <p class="lead">
                Ready to earn vouchers? Follow this demo and redeem your first WOM&nbsp;voucher.
            </p>

            <p>
                WOM&nbsp;vouchers are intended to <b>reward socially-valuable efforts</b> of various nature.
                Different entities may provide WOM&nbsp;vouchers in exchange for your contributions.
            </p>

            <h2>Ready?</h2>

            <p>
                Have you installed the <b>WOM&nbsp;Pocket</b> app?
                Then you’re all set to redeem your first voucher. Click on the button below and then scan the QR&nbsp;Code that will be shown.
            </p>

            <form method="post" class="text-center">
                <button type="submit" class="btn btn-primary">
                    Get sample voucher
                </button>
            </form>
        </div>
    </div>
</div>